# Files to ignore


# virtual env
honors-env/

# my twitter credentials
trash/twitter_credentials.json

# __pychache__
__pycache__/

# jupyter related folders and files
*.ipynb
.ipynb_checkpoints

# random extra files
testing_preprocessing.csv
tutorial.py

# dataset
data-set/

# trash
trash/
